@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a,
li,
span,
img {
  margin: 0;
  padding: 0;
}

:root {
  --primary_background_color: #1c1e53;
  --secondary_background_color: #f4f6fc;
  --primary_text_color: #282938;
  --link_color: #2405f2;
  --white_color: #fff;
  --button_color: #fcd980;
  --HK: "Hanken Grotesk", sans-serif;
  --PT: "PT Sans", sans-serif;
}

body {
  color: #000;
  background: url(../images/dipper.png);
}

/* ===========Nav part css start============== */

.customNavbar {
  background: #fff;
  box-shadow: 0px 12px 22px 0px rgba(0, 0, 0, 0.05);
}

.navbar-nav {
  column-gap: 25px;
}

.navbar_item {
  color: #000;
  font-family: var(--HK);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.button {
  border-radius: 1000px;
  border: 1px solid var(--Primary, #7c14fd);
  background-color: white;
  padding: 14px 28px;
  color: var(--Primary, #7c14fd);
  text-align: center;
  font-family: var(--HK);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ===========Nav part css start============== */

/* ===========Blog part css start============== */

/* ===========Blog part css start============== */
